
.loginpage{
  display: flex;
}
.slideshow{
 flex: 0.6;
 margin-left: 10%;
 margin-top: 5%;
 
}
.login{
  flex:0.3;
}
.message{
  color:darkred;
  margin-top:5%;
}
form{
margin-left:5%;
}