<div class=" col-lg-5 col-md-4 col-sm-6 col-xs-8 col-lg-offset-3 col-md-offset-3 col-sm-offset-3 col-xs-offset-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="text-center">
        <h3><i class="material-icons">lock</i></h3>
        <h2 class="text-center">Set Your Password</h2>
        <p>You can reset your password here.</p>
        <br>

        <!--Reset Form-->
        <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">

          <!--New Password Field-->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
              <input class="form-control" type="password" placeholder="New Password" formControlName="newPassword">
            </div>
            <div style="color:darkred; font-size:10px;float:left;" *ngIf="formErrors['newPassword']">
              {{ formErrors['newPassword'] }}
            </div>
          </div>
          <br>

          <!--Confirm Password Field-->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon"><span class="glyphicon glyphicon-log-in"></span></div>
              <input class="form-control" type="password" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
            <div style="color:darkred; font-size:10px;float:left;" *ngIf="formErrors['confirmPassword']">
              {{ formErrors['confirmPassword'] }}
            </div>
          </div>
          <br>

          <!--Reset Button-->
          <div class="form-group">
            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" [disabled]="resetForm.invalid" value="Reset Password"
              type="submit">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
